#read {
  width: 400px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

#suggestions-container > div {
  height: 50px;
  width: 150px;
  border: 1px black solid;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
}
